@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.detail {
  &.container {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

@include media-breakpoint-down(sm) {
  .detail {
    .col-12 {
      margin-top: 1em;
    }
  }
}